* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
}
body {background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header {
    position: fixed;
    display: flex;
    z-index: 1;
}

nav {
    height: 10vh;
    z-index: -20;
}

header>nav>section>a,
.logoFijo {
    position: relative;
    scale: 1;
    transition-property: scale;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;

}